[submodule "Visual-Musleh"]
	path = Visual-Musleh
	url = https://github.com/ahmad-musleh/Visual-Musleh.git
[submodule "resume"]
	path = resume
	url = git@github.com:ahmad-musleh/ahmad-musleh-resume.git
